<!DOCTYPE html>
<html>
<head>
   	<base href="https://demos.telerik.com/kendo-ui/tabstrip/mvvm">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.rtl.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>
    
       
</head>
<body>

<div id="example">

	<div class="demo-section k-content wide">    
	 <div id="top-pane">
		<div data-role="splitter"
	                   data-panes="[
				                    { collapsible: true,size : '15%' },
				                    { collapsible: false },
				                  ]"
	                   data-bind="visible: isVisible"
	                   style="height: 900px; width: 100%;">
             
			<div id="left-pane" >
				<div class="pane-content">
				      
					<div class="files"
				         data-role="panelbar"
				         data-text-field="name"
				         data-spritecssclass-field="type"
				         data-bind="visible: isVisible,
				                    source: files,
				                    events: { select: onSelect }">
					</div>
				</div>				
			</div>
             
            <div id="center-pane">
            
           		<!-- =============== grid start===================== -->
            	<div class="pane-content" data-bind="visible : gridVisible">
            		<p> 스케쥴러 등록 현황</p>
            		<div data-role="grid"
		                 data-editable="{mode:'popup',
						                 window:{title:'수정 화면',
						                 		animation: false,
						                 		height:230,
						                 		width:430,
						                 		resizable: true},
						                 template:kendo.template($('#popup-editor').html())}"
		                 data-toolbar="['create']"
		                 data-columns="[
		                 				{'command': ['edit', 'destroy'], 'title': '&nbsp;', 'width': 250},  
	                                   { 'field': 'no', 'title': 'NO' },
	                                   { 'field': 'name','title': '이름' },
	                                   {'field': 'content','title': '내용'},
	                                   { 'field': 'date','title': '날짜' }
		                              ]"
		                 data-bind="visible: isVisible,
		                 			source: products,
		                 			events: { dataBound : isdataBound }" 
		                 style="height: 790px">
                 	</div>
            	</div>
          		<!-- =============== grid end ===================== -->
            	
            
                
                <!-- =============== tapStrip  start ===================== --> 
				<div class="demo-section k-content" data-bind="visible: tapVisible">
					<div>
						<h4>Select a tab</h4>
						<div data-role="tabstrip"
						     data-bind="visible: isVisible">
						    <ul>
						        <li class="k-state-active">
						            tap 1
						        </li>
						        <li>
						            tap 2 - grid
						        </li>
						        <li>
						            tap 3
						        </li>
						        
						    </ul>
						    <div> <!-- body 1 -->
						        <p>body 1</p>
						    </div>
						    <div><!-- body 2 -->
						       
				            		<p>tap grid</p>
				            		<div id="tap2"
				            		   	 data-role="grid"
						                 data-editable="{mode:'popup'}"
						                 data-toolbar="['create']"
						                 data-columns="[
						                 				{'command': ['edit', 'destroy'], 'title': '&nbsp;', 'width': 250},  
					                                   { 'field': 'no', 'title': 'NO' },
					                                   { 'field': 'name','title': '이름' },
					                                   {'field': 'content','title': '내용'},
					                                   { 'field': 'date','title': '날짜' }
						                              ]"
						                 data-bind="visible: isVisible,
						                 			source: products,
						                 			events: { dataBound : isTapDataBound }" 
						                 style="height: 600px">
				                 	</div>
				            		<div id="windowTap2"></div>
						    </div>
						    <div><!-- body 3 -->
						        body 3
						    </div>
						   
						</div>
					</div>
				</div>
                 <!-- =============== tapStrip 실행 진행 중 start ===================== --> 
           </div>
        </div>
       </div>
    </div>
    <div id="window"></div>
    		
    
</div> 

<script id="tap2ComboBoxWindowTemplate" type="text/x-kendo-template">
	
			<h4>ComboBox</h4>
			<input data-role="combobox"
                   data-placeholder="힝~"
                   data-text-field="content"
                   data-value-field="name"
                   data-bind="value: selectedProduct,
                              source: products2,
                              visible: isVisible,
                              events: {
                                change: onChange
                              }"
                   style="width: 100%"
            />
			<fieldset>
			
				<p>NO</p>
				<p style="text-align: right;" data-bind="text: comboBoxData.no"></p>
				<p>NAME</p>
				<p style="text-align: right;" data-bind="text: comboBoxData.name"></p>
				<p>CONTENT</p>
				<p style="text-align: right;" data-bind="text: comboBoxData.content"></p>
				<p>DATE</p>
				<p style="text-align: right;" data-bind="text: comboBoxData.date"></p>
			
			</fieldset>
		
</script>
 
<script id="windowTemplate" type="text/x-kendo-template">
		<div>
			<h4> 더블클릭 팝업으로</h4>
			<fieldset>
			
				<p>NO</p>
				<p style="text-align: right;" data-bind="text: no"></p>
				<p>NAME</p>
				<p style="text-align: right;" data-bind="text: name"></p>
				<p>CONTENT</p>
				<p style="text-align: right;" data-bind="text: content"></p>
				<p>DATE</p>
				<p style="text-align: right;" data-bind="text: date"></p>
			
			</fieldset>
		</div>
</script>

     <!-- grid data-editable popup template start -->
<script id="popup-editor" type="text/x-kendo-template">

<fieldset>

<table>
	<tr>
		<td>
			<p style="text-align: right;">﻿NO</p>
		</td>
		<td>
			<input data-bind="value:no" />
		</td>
		<td></td>
		<td></td>
		
	</tr>
	<tr>
		<td>
			<p style="text-align: right;">﻿NAME</p>
		</td>
		<td>
			<input data-bind="value:name" />
		</td>
		<td>
			<p style="text-align: right;">﻿DATE</p>
		</td>
		<td>
			<input data-bind="value:date" />
		</td>
	</tr>
</table>

</fieldset>


</script>
	<!-- data-editable popup template end -->
    
<script>
	
	//MVVM wiewModel
    let viewModel = kendo.observable({
    	
    	//window
    	isdataBound : function(e) {//grid 시작시 대기상태
    		// e.data = this
    		let grid = e.sender;
 
    		console.log('grid event 대기');
    		
    	 	  grid.tbody.find('tr').dblclick( function(e) {
    	 		console.log('dblclick event ');
//     			let uid = $(this).find('tr[data-uid]').context.dataset.uid;//tr의 uid 가져오기    			
//     			var model = viewModel.products.getByUid(uid);
    			
    			let model = grid.dataItem(this);//데이터 찾기 // dblclick(tr) grid table row data = this
//     			viewModel.set("selected", model);//update 
    			
    			let window = $('#window').kendoWindow({ 
        			width: "600px",
        			title: "되긴 했지만 아직도 모르겟다.",
        			modal: true,
       	        	content: {	      	        		
       	        	    template: kendo.template($('#windowTemplate').html())
       	        	  		},
       	        	actions: [
                        "Minimize",
                        "Maximize",
                        "Close"
                    ]
       	       }).data("kendoWindow").open().center();//창 오픈
				
    			kendo.bind(window.wrapper, model);
    	 	  
    	 	  });  

        },
        
        //tapStrip - tap2 grid - bound - row dblclick - window - ComboBox
        
        selectedProduct: null,
        
        comboBoxData:{},
        
        primitiveChanged: function() {
        	viewModel.set("selectedProduct", null);
        },
        onChange: function() {
        	viewModel.set("comboBoxData",viewModel.get("selectedProduct"));
        },
        
        isTapDataBound: function(e){ //tap grid
        	console.log('tap grid dblclick 대기');
        	
        	let grid = e.sender;
        	
        	grid.tbody.find('tr').dblclick( function(e) {
        		let model = grid.dataItem(this);
        		viewModel.set('comboBoxData',model);//클릭한 정보를 
        		
        		console.log('tap2 grid row dblclick event ');       		
	        	let windowTap2 = $('#windowTap2').kendoWindow({
	        		
	        		width: "600px",
        			title: "tap2 grid window",
        			modal: true,
       	        	content: {	      	        		
       	        		template: kendo.template($('#tap2ComboBoxWindowTemplate').html())
       	        	  		},
       	        	actions: [
                        "Minimize",
                        "Maximize",
                        "Close"
                    ]
	        		
	        	}).data('kendoWindow').open().center();
        	
	        	kendo.bind(windowTap2.wrapper, viewModel);
        	});
        },
    	

    	//splitter
    	isVisible: true,
    	isEnabled: true,
    	gridVisible: true, //출력 유무
    	tapVisible: false,
    	
    	 onSelect: function(e) {
    		let panelBar = e.sender;
            let text = panelBar.dataItem($(e.item)).name;
            console.log(text);
    		if(text=='스케쥴러 등록 현황'){   				
    			this.set('gridVisible',true);
    			this.set('tapVisible',false);
    		}else if(text=='tapStrip'){
    			this.set('tapVisible',true);
    			this.set('gridVisible',false);
    		}
    		
    		 // viewModel.set("twoVisible",!viewModel.get("twoVisible"));
		},
    	//panelbar
        files: kendo.observableHierarchy([
            { name: "스케쥴러 등록 현황"},
            { name:"tapStrip"}
        ]),
        
        //grid
        products: new kendo.data.DataSource({
          
            data:  [//localdata
            		{no:1,name:"가",content:"가마니",date:"10-11-12"},
					{no:2,name:"나",content:"나무꾼",date:"11-12-13"},
					{no:3,name:"다",content:"다리미",date:"12-13-14"},
					{no:4,name:"라",content:"라디오",date:"13-14-15"},
					{no:5,name:"마",content:"마동석",date:"14-15-16"},
					{no:6,name:"바",content:"바이퍼",date:"15-16-17"},
					{no:7,name:"사",content:"사마귀",date:"16-17-18"}
					]
        }),
        
        products2: new kendo.data.DataSource({
            
            data:  [//localdata
            		{no:1,name:"A",content:"가B니",date:"10-111-12"},
					{no:2,name:"B",content:"나C꾼",date:"11-122-13"},
					{no:3,name:"C",content:"다D미",date:"12-131-14"},
					{no:4,name:"D",content:"라E오",date:"13-142-15"},
					{no:5,name:"E",content:"마F석",date:"14-153-16"},
					{no:6,name:"F",content:"바G퍼",date:"15-164-17"},
					{no:7,name:"G",content:"사H귀",date:"16-177-18"}
					]
        })
       
        
    });
    
    kendo.bind($("#example"), viewModel);
</script>

</body>
</html>
