
<!DOCTYPE html>
<html>
<head>
    <base href="https://demos.telerik.com/kendo-ui/grid/mvvm">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.rtl.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>
    
    
</head>
<body>

<div id="example">

	<div class="demo-section k-content wide">    
	 <div id="top-pane">
		<div data-role="splitter"
	                   data-panes="[
				                    { collapsible: true,size : '15%' },
				                    { collapsible: false },
				                  ]"
	                   data-bind="visible: isVisible"
	                   style="height: 800px; width: 100%;">
             
			<div id="left-pane" >
				<div class="pane-content">
				      
					<div class="files"
					          data-role="panelbar"
					          data-text-field="name"
					          data-spritecssclass-field="type"
					          data-bind="visible: isVisible,
					                     source: files,
					                     events: { select: onSelect }">
					</div>
				</div>				
			</div>
             
            <div id="center-pane">
            
           	<!-- =============== page1 스케쥴러 등록 현황 satrt===================== -->
            	<div class="pane-content" data-bind="visible : oneVisible">
            		<p> 스케쥴러 등록 현황</p>
            		<div data-role="grid"
		                 data-editable="{mode:'popup',
						                 window:{title:'상세 내용',
						                 		animation: false,
						                 		height:230,
						                 		width:430,
						                 		resizable: true},
						                 template:kendo.template($('#popup-editor').html())}"
		                 data-toolbar="['create' ]"
		                 data-columns="[
		                 				  
		                                 { 'field': 'no', 'title': 'NO' },
		                                 { 'field': 'name','title': '이름' },
		                                 { 'field': 'date','title': '날짜' },
		                                 {'command': ['edit', 'destroy'], 'title': '&nbsp;', 'width': 250}
		                              ]"
		                 data-bind="visible: isVisible,
		                 			source: products"
		                 style="height: 790px">
                 	</div>
            	</div>
            <!-- =============== page1 스케쥴러 등록 현황 end ===================== -->
            	
            <!-- =============== page2 실행 진행 중 start ===================== --> 
				<div class="pane-content" data-bind="visible : twoVisible">
					<p> 실행 진행 중 </p>
					<div data-role="grid"
					      data-editable="{mode:'popup',
									      window:{title:'상세 내용',
									      		animation: false,
									      		height:230,
									      		width:430,
									      		resizable: true},
									      template:kendo.template($('#popup-editor').html())}"
					      data-toolbar="['create' ]"
					      data-columns="[
					      				 {'command': ['edit', 'destroy'], 'title': '&nbsp;', 'width': 250}, 
					                      { 'field': 'no', 'title': 'NO' },
					                      { 'field': 'name','title': '이름' },
					                      { 'field': 'date','title': '날짜' }
					                   ]"
					      data-bind="visible: isVisible,
					      			source: products"
					     
					      style="height: 790px">
				 </div>
				</div>
                <!-- =============== page2 실행 진행 중 end ===================== --> 
           </div>
        </div>
       </div>
    </div>
</div>     
     <!-- data-editable popup template start -->
<script id="popup-editor" type="text/x-kendo-template">

<fieldset>
	<legend>
	Hello #= name # , 작성일 #= date #
	</legend>

<table>
	<tr>
		<td>
			<p style="text-align: right;">﻿NO</p>
		</td>
		<td>
			<input data-bind="value:no" />
		</td>
		<td>
		</td>
		<td>
		</td>
		
	</tr>
	<tr>
		<td>
			<p style="text-align: right;">﻿NAME</p>
		</td>
		<td>
			<input data-bind="value:name" />
		</td>
		<td>
			<p style="text-align: right;">﻿DATE</p>
		</td>
		<td>
			<input data-bind="value:date" />
		</td>
	</tr>
</table>

</fieldset>


</script>
	<!-- data-editable popup template end -->
    
<script>
    var viewModel = kendo.observable({
    	//splitter
    	isVisible: true,//출력 유무??
    			
    	oneVisible : true,
    	twoVisible : false,
    	
    	 onSelect: function(e) {
    		var panelBar = e.sender;
            var text = panelBar.dataItem($(e.item)).name;
            console.log(text);
    		if(text=='스케쥴러 등록 현황'){   				
       			viewModel.set('oneVisible',true);
       			viewModel.set('twoVisible',false);
    		}else if(text=='실행 진행 중'){
    			viewModel.set('twoVisible',true);
    			viewModel.set('oneVisible',false)
    		}
    		
    		 // viewModel.set("twoVisible",!viewModel.get("twoVisible"));
		},
    	//panelbar
        files: kendo.observableHierarchy([
            { name: "스케쥴러 등록 현황"},
            { name: "실행 진행 중"}
        ]),
        
        //grid
        products: new kendo.data.DataSource({
          
            data:  [//localdata
            		{no:1,name:"가",date:"10-11-12"},
					{no:2,name:"나",date:"11-12-13"},
					{no:3,name:"다",date:"12-13-14"},
					{no:4,name:"라",date:"13-14-15"},
					{no:5,name:"마",date:"14-15-16"},
					{no:6,name:"바",date:"15-16-17"},
					{no:7,name:"사",date:"16-17-18"},
					]
        }),
        
        products2: new kendo.data.DataSource({
            
            data:  [//localdata
            		{no:1,name:"가나",date:"101-111-112"},
					{no:2,name:"나다",date:"111-121-131"},
					{no:3,name:"다라",date:"121-131-141"},
					{no:4,name:"라마",date:"131-141-151"},
					{no:5,name:"마바",date:"141-151-161"},
					{no:6,name:"바사",date:"151-116-171"},
					{no:7,name:"사아",date:"161-117-181"},
					]
        })
        
		
    });
    
    kendo.bind($("#example"), viewModel);
</script>



</body>
</html>
